body {
  background-color: #100c07;
  margin: 0;
  color: #fff;
  max-width: 1280px;
  margin: 0 auto;
}

.hallof-fame {
  padding: 200px 0;
  max-width: 700px;
}

.hallof-fame h1 {
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  margin: 0 0 16px;
}

.hallof-fame p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  margin: 0 0 16px;
}

.hallof-fame button {
  background-color: #5a4bda;
  border: none;
  color: #fff;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 5px;
}

img {
  float: right;
}
