* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  position: relative;
}

main h1 {
  margin: 0 0 20px 0;
}

p {
  font-size: 20px;
}

.desc p {
  margin-bottom: 0;
}

.page-modal {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-modal .terms {
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  max-width: 700px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}

.page-modal h2 {
  text-align: center;
}

.terms-text {
  padding: 10px 0;
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin: 0 0 20px;
}

.terms-text p {
  max-height: 300px;
  overflow-y: scroll;
  text-align: left;
}

input {
  display: block;
  font-size: 15px;
  outline: none;
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: blueviolet;
  color: #fff;
  border-radius: 5px;
}

input[type="checkbox"] {
  display: inline-block;
  margin: 0 0 20px;
}
