* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  background-color: rgb(130, 188, 207);
  padding: 20px 0;
}

ul {
  list-style: none;
  display: inline;
  padding: 0;
}

li {
  display: inline;
  margin: 0 30px 0 0;
}

#home {
  border-style: dashed;
  padding: 10px 10px;
}

#about {
  border-style: dotted;
  padding: 10px 10px;
}

#contact {
  border-style: double;
  padding: 10px 10px;
}

#blog {
  border-style: groove;
  padding: 10px 10px;
}

#login {
  border-style: ridge;
  padding: 10px 10px;
}

a:hover {
  color: green;
  font-size: 18px;
  font-weight: bolder;
}
