* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 1440px;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
  margin: 0 auto;
}

.container img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
}

.img-1,
.img-3 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.img-2 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.img-4,
.img-6 {
  grid-row-start: 2;
  grid-row-end: 4;
}

.img-5 {
  grid-row-start: 3;
  grid-row-end: 4;
}
